@model IEnumerable<Tech_FIX_API.Models.Product>

@{
    ViewBag.Title = "GetProducts";
}

<br />
<h2 class="text-center">VIEW AVALIABLE PRODUCTS</h2>

<br /><br />
<p>
    @Html.ActionLink("Add New Product", "AddProduct", null, new { @class = "btn btn-create" })
</p>

<br />
<table class="table table-centered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProductID)</th>
            <th>@Html.DisplayNameFor(model => model.ProductName)</th>
            <th>@Html.DisplayNameFor(model => model.Category)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Serial_NO)</th>
            <th>@Html.DisplayNameFor(model => model.Warranty_Period)</th>
            <th>@Html.DisplayNameFor(model => model.SupplierID)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ProductID)</td>
                <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                <td>@Html.DisplayFor(modelItem => item.Category)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Serial_NO)</td>
                <td>@Html.DisplayFor(modelItem => item.Warranty_Period)</td>
                <td>@Html.DisplayFor(modelItem => item.SupplierID)</td>
                <td>
                    @Html.ActionLink("Update", "UpdateProduct", new { id = item.ProductID }, new { @class = "btn btn-edit" }) |
                    @Html.ActionLink("Delete", "DeleteProduct", new { id = item.ProductID }, new { @class = "btn btn-delete" })
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    /* Button Styles */
    .btn-create {
        background-color: blue;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
    }

    .btn-edit {
        background-color: green;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
    }

    .btn-delete {
        background-color: red;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
    }

    /* Table Styles */
    .table-centered th, .table-centered td {
        text-align: center;
    }

    .table-centered th {
        background-color: darkblue;
        color: white;
    }
</style>

<!-- Footer Section -->
<footer style="background-color: black; color: white; text-align: center; padding: 10px;">
    www.techfix.com
</footer>