@model IEnumerable<Tech_FIX_API.Models.Quotation>

@{
    ViewBag.Title = "GetQuotations";
}

<br />
<h2 class="text-center">VIEW AVAILABLE QUOTATIONS</h2>

<br />
<br />
<p>
    @Html.ActionLink("Add New Quotation", "AddQuotation", null, new { @class = "btn btn-create" })
</p>

<br />
<table class="table table-centered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.QuoteID)</th>
            <th>@Html.DisplayNameFor(model => model.SupplierID)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.QuotationPrice)</th>
            <th>@Html.DisplayNameFor(model => model.QuotaQuantity)</th>
            <th>@Html.DisplayNameFor(model => model.OverAllDiscount)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.QuoteID)</td>
                <td>@Html.DisplayFor(modelItem => item.SupplierID)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.QuotationPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.QuotaQuantity)</td>
                <td>@Html.DisplayFor(modelItem => item.OverAllDiscount)</td>
                <td>
                    @Html.ActionLink("Update", "UpdateQuotation", new { id = item.QuoteID }, new { @class = "btn btn-edit" }) |
                    @Html.ActionLink("Delete", "DeleteQuotation", new { id = item.QuoteID }, new { @class = "btn btn-delete" })
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    /* Button Styles */
    .btn-create {
        background-color: blue;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
    }

    .btn-edit {
        background-color: green;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
    }

    .btn-delete {
        background-color: red;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
    }

    /* Table Styles */
    .table-centered th, .table-centered td {
        text-align: center;
    }

    .table-centered th {
        background-color: darkblue;
        color: white;
    }
</style>

<!-- Footer Section -->
<footer style="background-color: black; color: white; text-align: center; padding: 10px;">
    www.techfix.com
</footer>
